.button {
  @apply block flex-nowrap whitespace-nowrap px-2 py-1 font-bold cursor-pointer;
}

.button:hover {
  filter: brightness(120%);
}

.button--primary {
  @apply bg-blue-primary text-white;
}

.button--secondary {
  @apply bg-blue-nextClick text-white;
}

.introjs-donebutton {
  background-color: #2980B9 !important;
  color: white !important;
  text-shadow: none !important;
}

.introjs-donebutton:hover {
  filter: brightness(120%) !important;
}
