@tailwind base;
@tailwind components;
@tailwind utilities;

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  @apply font-noto;
  font-size: 14px;
}

details summary::-webkit-details-marker,
details summary::marker {
  display: none;
  content: "";
}

summary  {
  @apply cursor-pointer;
}
